

.header {
  padding-top: 0px;
  padding-left: 10px;
  background-color: #000;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}


.nav_item_wrapper {
  display: flex;
  list-style: none;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 600px) { 
  .nav_item_wrapper {
    display: none;
  }
}

.nav_item {
  padding-top: 0;
  padding-right: 1.2rem;
}


.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 600px;
}

.box1 {
  align-self: center;
}

.box1 ul {
  list-style: none;
}

.place_item {
  width: 100%;
  height: 500px;
}

.end {
  color: red;
}